body{
    font-family: 'Montserrat', sans-serif;
}
section{
    position: relative;
}
header p{
    display: block;
    padding-right: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #979797;
}
header{
    display: flex;
    justify-content: flex-end;
    margin: 30% auto;
    margin-top: 50px;
    margin-bottom: 0;
    padding-right: 40px
}
.content{
    margin: 5% auto;
    margin-left: 20%;
    margin-right: 20%
    
}
label{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #434C5F;
    clear: both;
    
}
h1{
    display: block !important;
    margin-bottom: 20px !important;
    margin-left:10% !important;
    font-weight: 500 !important;
    font-size: 24px !important
}
form{
    margin-left: 10%;
    margin-right: 10%
}
.pass{
    width: 519px
}

form input{
width: 519px;
height: 50px;
border: 1px solid #DEDEDE;
box-sizing: border-box;
border-radius: 5px;
clear: both;
font-weight: 300;
font-size: 24px;
margin: 0

}
form input::placeholder{
    color: rgba(226, 226, 226, 0.959) 
}
form p{
   
    float: right;
    }
form p a{
    font-size: 12px;
    color: #A0A0A0;
}
.byclick{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #434C5F;
}
.pagebreak {
    clear: both;
    margin: 10vh;
}
.logo{
    position: absolute;
    top: 24px;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px grey
  
}
.logo p{
    display: block;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #2FBBC4;
    font-weight: 900;
    letter-spacing: 1px
}

section::after{
    content: "";
    display: block;
    clear: both
}
.card-img{
    float: left;
    background-image: url('https://www.avaesa.com/img/header.jpg');
    
    height: 100vh;
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
aside{
    float: right;
    height: 100vh;
    width: 50%;
}

button{
    width: 124px;
    height: 42px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 14px;
    color: #979797;
    letter-spacing: 1px;
    box-shadow: 0 0 20px grey;
    transform: translateY(-25%);
    transition: all 0.345s ease
}
button a{
    text-transform: uppercase;
    font-size: 14px;
    color: #979797;
    letter-spacing: 1px;
    text-decoration: none
}

button:hover{
    background-color: #2FBBC4;
    box-shadow: 0 0 40px yellow;
    color: white
}

.bbutt{
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    transform: translateY(0);
    transform: translateY(20%);    
    
}

.agreement{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #434C5F;
}